<mat-toolbar color="custom">
    <span><mat-icon><img src="assets/img/logo1.png"></mat-icon></span>
    <div class="spacer"></div>

    <a mat-button [routerLink]="['/homepage']"><span class="glyphicon glyphicon-home"></span>Home</a>
    <a mat-button [routerLink]="['/masterpage']"><span class="glyphicon glyphicon-log-in"></span>logout</a>
    <a mat-button [routerLink]="['/userprofile']"><span class="glyphicon glyphicon-info-sign"></span>My profile</a>
</mat-toolbar> 

<div class="fluid-container my-1">
    <!-- <h1 class="display-4 text-center">Cafe Locator</h1> -->
<div id="map" style="width: 100%; height: 700px; "></div>
</div>

<footer class="ftco-footer ftco-section img">
    <div class="overlay"></div>
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-3">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">About Us</h2>
            <p>We suggest you the best nearby cafe for your refreshment and relaxation</p>
            <h3>Damn Fine Coffee as always..!</h3>
            
          </div>
        </div>
        
        <div class="col-md-2">
           <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Site Links</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">Home</a></li>
              <li><a href="#" class="py-2 d-block">About</a></li>
              
              <li><a href="#" class="py-2 d-block">Coffe shops</a></li>
              
              
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="text"><p>203 lakdi ka pool , Hyderabad, Telangana, India</p></span></li>
                <li><a href="#"><span class="text">+91 6281156921</span></a></li>
                <li><a href="#"><span class="text">cofftails@gmail.com</span></a></li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </footer>
  